.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  display: flex;
  margin-bottom: 100px;
  background-color: #f2f2f2;
}

.logo {
  width: 228px;
  height: 32px;
  z-index: 2;
}

.logo__place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin: 0;
  margin-left: 64px;
  flex-direction: row;
  align-self: center;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  object-fit: cover;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.content {
  display: flex;
  flex-direction: column;

}

.description {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  margin: 0;
  font-weight: normal;
}

.two-columns__link {
  text-decoration: none;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  width: 100%;
}

.section-title {
  text-align: center;
  width: 60%;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  width: 60%;
}

.table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 1100px;
}

.table__cell {
  width: 250px;
  margin-top: 80px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.table__text:last-child {
  margin-bottom: 0;
}

.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 890px;
  background-color: #f2f2f2;
}

.feynman__title {
  max-width: 648px;
  line-height: 1.15;
  font-size: 120px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  text-align: center;
  margin-bottom: 70px;
  z-index: 1;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-align: center;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  color: #2f80ed;
  z-index: 1;
}

.feynman__img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
}

.kaufman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
  padding-bottom: 90px;
}

.table__theme_dark {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 1100px;
  z-index: 2;
}

.section-title_theme_dark {
  color: white;
  margin-bottom: 20px;
  margin-top: 90px;
}

.section-subtitle_theme_dark {
  color: white;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  background-image: url(../images/kaufman-triangle.svg);
}

.footer {
  display: flex;
  justify-content: center;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__columns_content_info {
  justify-content: flex-start;
}

.footer__columns_content_social {
  justify-content: flex-start;
}

.logo__place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: white;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 600;
  color: white;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  text-decoration: none;
  color: white;
}